@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#users-manager {
    padding: 30px 0px;

    * {
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .actions {
        text-align: right;

        a {
            display: inline-block;
            margin-left: 15px;
        }
    }

    table {
        td {
            vertical-align: middle;
        }
    }
}

#create-new-user-btn {
    margin-bottom: 30px;
    display: inline-block;
}